.assignments {
    display: flex;
    padding-top: 10px;
}
.side-panel {
}
.side-panelItem {
    line-height: 60px;
    text-align: center;
    color: white; 
    width: 200px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}
.side-panelItem:hover {
    background-color: slategray;
}
.side-panelItem:active {
    background-color: dimgray;
}