.assignments {
    display: flex;
    padding-top: 10px;
}
.sidePanel {
}
.sidePanelItem {
    line-height: 60px;
    text-align: center;
    color: white; 
    width: 200px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}
.sidePanelItem:hover {
    background-color: slategray;
}
.sidePanelItem:active {
    background-color: dimgray;
}