.delete-assignment-dialog {
    position: absolute;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    background-color: white;
}
.delete-message {
    color: dimgray;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
}
.confirm-delete {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    right: 150px;
    line-height: 50px;
    text-align: center;
    color: white; 
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}
.confirm-delete:hover {
    background-color: slategray;
}
.confirm-delete:active {
    background-color: dimgray;
}
.cancel {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
    line-height: 50px;
    text-align: center;
    color: white; 
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}
.cancel:hover {
    background-color: slategray;
}
.cancel:active {
    background-color: dimgray;
}
/* @media screen and (max-width: 1000px){
    .create-assignment-dialog {
        width: 90%;
        height: 90%;
    }
} */
