.edit-assignment-dialog {
    position: absolute;
    width: 95%;
    height: 90%;
    min-width: 550px;
    min-height: 550px;
    top: 40px;
    left: 50px;
    border-radius: 15px;
    background-color: white;
}
@media screen and (max-width: 1000px){
    .edit-assignment-dialog {
        width: 90%;
        height: 90%;
    }
}
.edit-assignment-header {
    padding-bottom: 50px;
    border-bottom: 2px solid silver;
    margin: 0px 150px 0px 25px;
}
.edit-assignment-title {
    position: relative;
    font-size: 25px;
    color: dimgray;
    top: 20px;
    padding: 15px;
    border: 2px solid lightgray;
}
.edit-assignment-title:hover {
    border: 2px solid darkgray;
}
.edit-assignment-title:focus {
    outline-color: lightskyblue;
}
.edit-assignment-description {
    position: relative;
    resize: both;
    height: 50px;
    width: 500px;
    overflow: auto;
    color: dimgray;
    top: 35px;
    padding: 15px;
    border: 2px solid lightgray;
}
.edit-assignment-description:hover {
    border: 2px solid darkgray;
}
.edit-assignment-description:focus {
    outline-color: lightskyblue;
}

.questions-list-title {
    font-size: 25px;
    color: dimgray;
    margin: 25px 150px 50px 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-bottom: 2px solid silver;
}
.assignment-questions-list {
    display: flex;
    flex-direction: column;
    margin: 0px 150px 50px 25px;
    max-height: 400px;
    max-width: 90%;
    overflow-y: scroll;
}
.assignment-questions-list::-webkit-scrollbar {
    display: none;
}
@media screen and (max-height: 800px){
    .assignment-questions-list {
        max-height: 300px;
    }
}
.assignment-question {
    margin-top: 25px;
    border: 2px solid lightgray;
}
.assignment-question:hover {
    border: 2px solid darkgray;
}
.assignment-question:focus {
    outline-color: lightskyblue;
}
.add-problems {
    position: inherit;
    cursor: pointer;
    color: slategray;
    margin-left: 50px;
    padding-top: 25px;
    bottom: 75px;
}
.save {
    position: inherit;
    bottom: 25px;
    right: 150px;
    width: 100px;
    margin: 10px;
}
.cancel {
    position: inherit;
    bottom: 25px;
    right: 25px;
    line-height: 50px;
    width: 100px;
    margin: 10px;
}
