.header {
    display: flex;
    border-bottom: 2px solid gainsboro;
}
.logo {
    width: auto;
    height: 55px;
    padding: 5px;
    background-color: lightskyblue;
}
.nav-item {
    line-height: 60px;
    color: dimgray;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}
.nav-item:hover {
    color: dimgray;
    background-color: whitesmoke;
    background-size: 60px;
}
.nav-item:active {
    background-color: gainsboro;
    background-size: 60px;
}
.nav-item .activenav-item {
    border-bottom: 5px solid lightskyblue;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding-left: 45px;
}
.divider {
    position: absolute;
    right: 85px;
    top: 16px;
    color: silver;
    font-weight: 1000;
    font-size: 25px;
}
.profile {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 50px;
    right: 20px;
    border: 1px solid silver;
    border-radius: 50%;
}
.profile:hover {
    border: 2px solid gainsboro;
    border-radius: 50%;
}
.profile:active {
    border: 2px solid darkgray;
    border-radius: 50%;
}
.dropdown-mask {
    position: fixed;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px){
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-bar {
        padding-left: 15px;
    }
}