.side-panel {}

.side-panel-item {
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    color: white;
    width: 200px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}

.add-button {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}

.side-panel-item:hover,
.add-button:hover {
    background-color: slategray;
}

.side-panel-item:active {
    background-color: dimgray;
}

.dialog-mask {
    position: absolute;
    width: 100%;
    height: 105%;
    top: 0px;
    background-color: gray;
    opacity: 50%;
}

td {
    cursor: pointer;
}