.take-assignment-dialog {
    position: absolute;
    width: 95%;
    height: 90%;
    min-width: 550px;
    min-height: 550px;
    top: 40px;
    left: 50px;
    border-radius: 15px;
    background-color: white;
}
@media screen and (max-width: 1000px) {
    .take-assignment-dialog {
        width: 90%;
        height: 90%;
    }
}

.take-assignment-header {
    padding-bottom: 50px;
    border-bottom: 2px solid silver;
    margin-left: 25px;
    margin-right: 150px;
}

.take-assignment-title {
    position: relative;
    font-size: 25px;
    color: dimgray;
    top: 20px;
    padding: 15px;
}

.take-assignment-description {
    position: relative;
    resize: both;
    height: 50px;
    width: 500px;
    color: dimgray;
    top: 35px;
    padding-left: 15px;
}

.questions-list-title {
    font-size: 25px;
    color: dimgray;
    margin: 25px 150px 0px 25px !important;
    padding-bottom: 25px;
    padding-left: 25px;
    border-bottom: 2px solid silver;
}
.take-assignment-questions-list {
    display: flex;
    flex-direction: column;
    margin: 25px 25px 50px 25px;
    max-height: 400px;
    max-width: 90%;
    overflow-y: scroll;
}
@media screen and (max-height: 900px){
    .take-assignment-questions-list {
        max-height: 300px;
    }
}
@media screen and (max-height: 800px){
    .take-assignment-questions-list {
        max-height: 200px;
    }
}

.take-assignment-response {
    display: flex;
    flex-direction: column;
    height: 75px;
    min-width: 500px;
    margin: 15px;
    overflow-y: scroll;
    border: 2px solid lightgray;
}


.take-assignment-response:hover {
    border: 2px solid darkgray;
}

.take-assignment-response:focus {
    outline-color: lightskyblue;
}

.save {
    position: inherit;
    bottom: 25px;
    right: 150px;
    width: 100px;
    margin: 10px;
}

.cancel {
    position: inherit;
    bottom: 25px;
    right: 25px;
    line-height: 50px;
    width: 100px;
    margin: 10px;
}