.dialog {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 40px;
    left: 50px;
    border-radius: 15px;
    background-color: white;
}

.title {
    position: inherit;
    font-size: 25px;
    color: dimgray;
    top: 5px;
    left: 5px;
    padding: 15px 15px 15px 0;
}

.student-info {
    position: inherit;
    color: slategray;
    margin-left: 50px;
    margin-top: 75px;
}

.cancel {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}

.submit {
    position: inherit;
    bottom: 25px;
    left: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: rgb(201, 206, 211);
    margin: 10px;
    cursor: not-allowed;
}

.submit_changed {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    left: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}

.submit_changed:hover {
    background-color: rgb(85, 179, 98);
}

.cancel:hover {
    background-color: slategray;
}

.cancel:active {
    background-color: dimgray;
}

@media screen and (max-width: 1000px) {
    .dialog {
        width: 90%;
        height: 90%;
    }
}

div#studentInfo .input-group-prepend {
    width: 125px;
}