.dialog {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 40px;
    left: 50px;
    border-radius: 15px;
    background-color: white;
}

.title {
    position: inherit;
    font-size: 25px;
    color: dimgray;
    top: 5px;
    left: 5px;
    /* padding: 15px 15px 15px 0; */
    padding: 1%;
}

.student-info {
    position: inherit;
    color: slategray;
    margin-left: 50px;
    margin-top: 75px;
}

.form-cancel {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}

.form-delete {
    float: right;
    position: inherit;
    cursor: pointer;
    top: 25px;
    right: 25px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: rgb(248, 51, 67);
    margin-right: 10px;
}

.form-delete:hover {
    background-color: red;
}

.form-delete:active {
    background-color: red;
}

.form-submit {
    position: inherit;
    bottom: 25px;
    right: 150px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: rgb(201, 206, 211);
    margin: 10px;
    cursor: not-allowed;
}

.form-submit-changed {
    position: inherit;
    cursor: pointer;
    bottom: 25px;
    right: 150px;
    line-height: 50px;
    text-align: center;
    color: white;
    width: 100px;
    border: 2px solid darkgray;
    border-radius: 50px;
    background-color: lightslategray;
    margin: 10px;
}

.form-submit-changed:hover {
    background-color: rgb(85, 179, 98);
}

.form-cancel:hover {
    background-color: rgb(248, 51, 67);
}

.form-cancel:active {
    background-color: rgb(248, 51, 67);
}

@media screen and (max-width: 1000px) {
    .dialog {
        width: 90%;
        height: 90%;
    }
}

div#studentInfo form {
    width: 98%;
    margin-right: auto;
    /* margin-left: auto; */
}

div#studentInfo .input-group-prepend {
    width: 25%;
}

div#studentInfo .input-group-text {
    border-radius: 0px !important;
    width: 100%;
}